extends layout

block content
  .post-container
    if posts
      each post, i in posts
        .post
          h1
            a(href="/posts/show/#{post._id}") #{post.title}
          p.meta
            span
              svg.meta-icon
                use(xlink:href="/images/sprites/solid.svg#user-tie")
              span.meta-text #{post.author}
            span
              svg.meta-icon
                use(xlink:href="/images/sprites/solid.svg#history")
              span.meta-text #{moment(post.date).format('DD-MM-YYYY')}
            span
              svg.meta-icon
                use(xlink:href="/images/sprites/solid.svg#tags")
              span.meta-text
                a(href='/categories/show/#{post.catagory}') #{post.catagory}
          .body-container
            img.post-img(src='/uploads/#{post.mainImage}',alt='Post Image')
            != truncate(post.body,200) 
            a(href="/posts/show/#{post._id}") Read More
    else
      p No Posts Yet!
      a(href="/posts/add") Add One  

